/* Main styles and atomic class */

:root {
  --white-color: #fff;
  --black-color: #000;
  --super-light-color: #f5f4f0;
  --orange-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --translucent-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
  --font-neucha: 'Neucha', cursive;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-size-main: 16px;
  --line-height-main: 1.6em;
  --line-height-title: 1.2em;
  --font-color: #2a2626;
  --font-size-h1: 72px;
  --font-size-h2: 60px;
  --font-size-h3: 34px;
  --font-size-h4: 36px;
  --max-width: 1100px;
  --padding-top-bottom: 100px;
  --dark-text-color: #212529;
}

html {
  color: var(--font-color);
  font-size: var(--font-size-main);
}

body {
  color: var(--font-color);
  font-weight: 400;
  font-family: var(--font-open-sans);
  line-height: var(--line-height-main);
}

p,
h1,
h2,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-top-bottom) 0;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

header::before,
.effect-ikea::before,
.optimization::before,
.distortion::before,
.depreciation::before,
.error-planning::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;

  background: url(../images/background.png) no-repeat center center;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

header::after,
.effect-ikea::after,
.optimization::after,
.distortion::after,
.depreciation::after,
.error-planning::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -20;

  background-color: var(--super-light-color);
  background-position: center center;

  content: '';
}

.background-white {
  background-color: var(--white-color);
}

.background-brown {
  background-color: var(--brown-color);
}

.orange-color {
  color: var(--orange-color);
}

.white-color {
  color: var(--white-color);
}

.grey-color {
  color: var(--translucent-dark-color);
}

.blue-color {
  color: var(--blue-color);
}

.font-neucha {
  font-family: var(--font-neucha);
}

.font-sans {
  font-family: var(--font-open-sans);
}

.title {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: var(--font-size-h2);
  line-height: 66px;
}

.title-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-title);
}

.title-h3 {
  font-size: var(--font-size-h3);
  line-height: 41px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-index-10 {
  z-index: 10;
}

.fz-14 {
  font-size: 14px;
}

.mt-14rem {
  margin-top: 14rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-38 {
  padding-bottom: 38px;
}

.ml-31 {
  margin-left: 31px;
}

.fz-24 {
  font-size: 24px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-30 {
  margin-top: 30px;
}

.mh-348 {
  min-height: 348px;
}

.row {
  display: flex;
  overflow: hidden;
}

.flex-wrap {
  flex-wrap: wrap;
}

.box-s-bb {
  box-sizing: border-box;
}

.col-m {
  flex-basis: 540px;
  width: 540px;
}

.pr-31 {
  padding-right: 31px;
}

.col-max {
  width: 100%;
}

.pd-l-31 {
  padding-left: 31px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-999 {
  flex-shrink: 999;
}

.height-150 {
  height: 150px;
}

.height-405 {
  height: 405px;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-999 {
  flex-grow: 999;
}

/* Block Header */

.header img {
  top: 55px;
  right: -270px;
}

.link {
  display: inline-block;

  padding: 11px 24px;

  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.link-orange {
  background-color: var(--orange-color);

  transition: all 0.2s ease;
}

.link-orange:hover {
  background-color: #ea7600;
}

.link-header {
  justify-self: start;
  margin-top: 2.375rem;
}

/* Блок About */

.about {
  margin-bottom: -200px;
}

.text-align-center {
  text-align: center;
}

.about .container > p {
  margin-top: 36px;

  color: var(--dark-text-color);

  line-height: 26px;
  text-align: center;
}

.video {
  display: block;
  margin: 35px auto 0;
}

.box-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Block Five-cognitives */

.five-cognitives {
  padding-top: 100px;

  background-color: var(--main-dark-color);
}

.five-cognitives h2 {
  color: var(--white-color);
  font-size: 52px;
  line-height: 62px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  box-sizing: border-box;
  width: 350px;
}

.item-link {
  padding: 24px 24px 0 24px;

  text-decoration: none;

  background-color: var(--super-light-color);
  cursor: pointer;

  transition: all 0.2s ease;
}

.item-description {
  margin-top: 4px;

  color: var(--font-color);
  line-height: 25.6px;
}

.item-number {
  margin-bottom: 40px;

  color: var(--main-dark-color);
  font-size: 64px;
  line-height: 1;
}

.item-link:hover {
  background-color: var(--orange-color);
}

.item-link:hover .item-number,
.item-link:hover .item-description,
.item-link:hover .menu-h3 {
  color: var(--white-color);

  transition: all 0.2s ease;
}

/* Block of cognitive bias  */

.how-it-works {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 4px 0 4px 8px;

  color: var(--white-color);
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  background-color: var(--brown-color);
}

.how-it-works-white {
  color: var(--main-dark-color);

  background-color: var(--white-color);
}

/* Block subscription */

.subscription {
  display: flex;
  justify-content: space-between;
  padding: 43px 75px 41px 52px;

  color: var(--white-color);

  background-color: var(--main-dark-color);
}

.subscription h2 {
  font-size: var(--font-size-h4);
  line-height: 43px;
}

.subscription label {
  display: block;

  font-weight: 700;
  line-height: 29px;
}

.form-block .text {
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
}

input[type="mail"] {
  box-sizing: border-box;
  width: 400px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 15px;

  border: none;
}

input[type="mail"]::placeholder {

  color: var(--black-color);
  font-size: 18px;
  line-height: 29px;

  opacity: 0.2;
}

input[type="submit"] {
  box-sizing: border-box;

  width: 70px;
  height: 50px;

  vertical-align: bottom;

  background-color: var(--orange-color);
  border: none;
  cursor: pointer;

  transition: all 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #ea7600;
}

.wrapper {
  display: flex;
  align-items: center;
}

.label-submit {
  position: relative;

  display: block;
  width: 70px;
  height: 50px;
}

.label-submit::before {
  position: absolute;
  top: 14px;
  right: 26px;

  display: block;

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  content: url(../images/send.svg);
}

.signature {
  margin-top: 60px;

  color: var(--black-color);
  line-height: 22px;
  text-align: center;
}

.author,
.material {
  margin-bottom: 16px;
}
